#CustomButton {
    .unfill {
        border: 2px solid #4f5bff;
        padding: .8em 1.2em;
        background: #24242c;
      }
      
    .unfill a {
    text-decoration: none;
    color: #4f5bff;
    font-size: 15px;
    }
}