:root {
  --clr-primary: #fc307b;
  --clr-accent: #2c92ef;

  --fs-700: 3.5rem;
  --fs-400: 1.25rem;
}

.uppercase {
  text-transform: uppercase;
}

.text-primary {
  color: var(--clr-primary);
}

.text-accent {
  color: var(--clr-secondary);
}

.fs-700 {
  font-size: var(--fs-700);
  line-height: 1;
}

.bg-primary {
  background-color: var(--clr-primary);
}

.bg-accent {
  background-color: var(--clr-accent);
}

.container {
  padding: 0rem 2rem;
  max-width: 75rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.grid--columns {
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

/* featured grid */

.feature-grid-container {
  perspective: 90rem;
  position: relative;
  border-bottom: 1px solid #000;
}

.feature-grid-text {
  padding: 1rem;
  background: linear-gradient(90deg, #fff 75%, rgba(255, 255, 255, 0));
}

.feature-grid {
  position: relative;
  z-index: -1;
  left: min(calc(1000px - 100vw) * -1, 0px);
  width: 50rem;
  align-self: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  transform-origin: center;
  transform: rotateY(-45deg);
  height: 20rem;
  animation: float 6s ease-in-out infinite;
}

.feature-grid > a {
  border-radius: 0.75em;
  transition: transform 350ms ease-in-out;
  overflow: hidden;
  margin: 0;
  background: #702cef9c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 22px;
  animation: floatShadow 6s ease-in-out infinite;
}

.feature-grid > a:hover,
.feature-grid > a:focus-visible {
  transform: scale(1.1);
  box-shadow: 0 0 1.5rem hsl(0 0% 0%);
  text-decoration: none;
  background: #480abd9c;
}

.feature-grid > :nth-child(1),
.feature-grid > :nth-child(4),
.feature-grid > :nth-child(5),
.feature-grid > :nth-child(7) {
  grid-row: span 3;
}

.feature-grid > :nth-child(2),
.feature-grid > :nth-child(3) {
  grid-row: span 2;
}

.feature-grid > :nth-child(6) {
  grid-column: 2 / span 2;
  grid-row: 3 / span 4;
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: rotateY(-45deg);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: rotateY(-48deg);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: rotateY(-45deg);
  }
}

@keyframes floatShadow {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    /* transform: rotateY(-45deg); */
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    /* transform: rotateY(-48deg); */
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    /* transform: rotateY(-45deg); */
  }
}
