.AppCSS {
	padding-top: 0;
	padding-right: 60px;
	padding-bottom: 40%;
	padding-left: 40px;
	background-color: #8c54ff;
	background: linear-gradient(90deg, #6619ff 0%, #8c54ff 100%);;
	margin-right:auto;
	height: 110vh;
	border-right: #6619ff;
}

.friends-title {
	color: #fff;
	letter-spacing: 1px;
}

.friend {
	padding: 1rem 4rem;
	margin: 2rem 1rem !important;
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.4);
	color: #fff;
	border-radius: 10px;
	background: #1c08445d;
	text-align: center;
	cursor: pointer;

	&:hover {
		transform: scale(1.05);
	}
}

.App {
	border-top: 1px solid #6619ff;
}