p {
  line-height: 1.4;
  font-size: 16px;
  margin-bottom: 30px;
}

h1 {
  font-size: 24px;
  margin-bottom: 30px;
}

.modal__backdrop {
  background: rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.modal__container {
  background: #fff;
  border-radius: 5px;
  max-width: 100%;
  margin: 100px auto;
  padding: 15px;
  width: 560px;
}

.modal__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

button {
  background: #8c54ff;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  transition: transform 100ms ease-out;
  margin: auto 0;

  &:hover {
    background: #682ede;
    transform: scale(1.05);
  }
}

.icon {
  color: #8c54ff;
  font-size: 1.5rem;
  cursor: pointer;

  &:hover {
    color: #682ede;
    transform: scale(1.25);
  }
}
